.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.auth-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.auth-box h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Spécifique à la page de connexion */
.auth-login button {
  background-color: #28a745; /* Vert */
}

.auth-login button:hover {
  background-color: #218838;
}

/* Spécifique à la page d'inscription */
.auth-register button {
  background-color: #007bff; /* Bleu */
}

.auth-register button:hover {
  background-color: #0056b3;
}

.auth-box p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}
